* {
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  list-style: none;
  color: black;
  margin: 0;
  padding: 0;
}

body {
  /* width: 100%; */
  display: flex;
  flex-direction: row;
}

header {
  flex: 0 0 20%;
}

section {
  flex: 1;
}

footer {
  flex: 0 0 25%;
}

.logo {
  font-family: Bulgatti;
  font-weight: 700;
  font-size: 2rem;
  margin: 10px;
}

.main-header {
  padding-left: 30px;
  width: 245px;
  height: 100vh;
  /* border-right: 0.05px solid grey; */
  box-shadow: -1px -3px 3px 1px grey;
}

.main-nav li {
  padding: 1rem;
  margin-left: 1.5rem;
}

.content {
  width: 100%;
  height: 100vh;
  margin: auto;
}

.story-section ul {
  display: flex;
  width: 600px;
  height: 100px;
  margin: auto;
  margin-top: 1rem;
}

.i1 {
  background-image: url(./image/1.jpg);
}

.i2 {
  background-image: url(./image/2.jpg);
}

.i3 {
  background-image: url(./image/3.jpg);
}

.i4 {
  background-image: url(./image/4.jpg);
}

.i5 {
  background-image: url(./image/5.jpg);
}

.i6 {
  background-image: url(./image/6.jpg);
}

.i7 {
  background-image: url(./image/7.jpg);
}

h6 {
  color: white;
  font-size: 0;
}

.image {
  width: 3rem;
  height: 3rem;
  background-size: cover;
  border-radius: 50%;
  margin: 1rem 1rem 0;
  /* border: 10px solid linear-gradient( to left, rgb(231, 45, 138),rgb(224, 175, 84)); */
  border: 1px solid black; 
}

.image-story p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 3rem;  
  font-size: 0.8rem;
  margin: 10px auto;
}

.content-section{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-main{
  margin: auto;
  margin-top: 30px;

}
.user ul{
  display: flex ;
  align-items: center;
  font-weight: 700;
}

.user-image{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-image: url(./image/1.jpg);
  background-size: cover;
  border: 1px solid black;
  margin-right: 10px;
}

.article li:last-child{
  margin-left: 20em;
  padding-bottom: 14px;
}

.img{
  margin: auto;
  margin-top : 5px;
  border-radius: 10px;
  width: 30rem;
  height: 35rem;
  background-image: url(./image/1-1.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  
}


.icon-reaction{
  display: flex;
  font-size: 30px ;
}

