* {
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  list-style: none;
  color: black;
}

body{
  display: flex;
}

.main-header{
  width: 245px;
  height: 100vh;
  border-right: 0.05px solid grey;
}

